<div class="container">
<!-- founding parteners started -->
    <div class="heading-people mt-4">
        <h2>Founding Partners</h2>
        <hr class="heading-hr">
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 justify-content-center ">
        <div>
            <div class="card  pb-4  ">
                <img src="../../../assets/people/foundingpartners/1.png" class="card-img-top img-fluid " alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold"> Ar. Savita Agarwal </h5>

                </div>
            </div>
        </div>
        <div>

            <div class="card  pb-4 ">
                <img src="../../../assets/people/foundingpartners/2.png" class="card-img-top img-fluid " alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold"> Late Shri Rohit Agarwal </h5>

                </div>
            </div>
        </div>
    </div>

    <!-- founding partners ended -->
<!-- parteners started -->

    <div class="heading-people mt-4">
        <h2>Partners</h2>
        <hr class="heading-hr">
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 justify-content-center ">
        <div>
            <div class="card px-0 pb-4  ">
                <img src="../../../assets/people/partners/1.png" class="card-img-top img-fluid img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold"> Ar. Sumit Agarwal </h5>

                </div>
            </div>
        </div>
        <div>
            <div class="card px-0 pb-4 ">
                <img src="../../../assets/people/partners/2.png" class="card-img-top img-fluid img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold"> Ar. Namit Agarwal</h5>

                </div>
            </div>
        </div>
    </div>

    <!-- partners ended -->
    <!-- associates started -->
    <div class="heading-people mt-4">
        <h2>Associates</h2>
        <hr class="heading-hr">
    </div>
    <div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 justify-content-center">
        <div>

            <div class="card bg-light ">
                <img src="../../../assets/people/associats/1.png" class="card-img-top img-fluid img-thumbnail "
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold"> Ar. Ira Khulbe </h5>
                    <p class="card-text">Senior Architect </p>
                </div>
            </div>
        </div>


        <div>
            <div class="card bg-light">
                <img src="../../../assets/people/associats/2.png" class="card-img-top img-fluid img-thumbnail"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Hriday Dalal</h5>
                    <p class="card-text">Mechanical Engineer </p>
                </div>
            </div>
        </div>
        <div>
            <div class="card bg-light">
                <img src="../../../assets/people/associats/3.png" class="card-img-top img-fluid img-thumbnail"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold"> Captain Manoj Wasan (Retired) </h5>
                    <p class="card-text">Structure Engineer </p>
                </div>
            </div>
        </div>
        <div>
            <div class="card bg-light">
                <img src="../../../assets/people/associats/4.png" class="card-img-top img-fluid img-thumbnail"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold"> Mrs. Shraddha Agarwal </h5>
                    <p class="card-text">Legal Advisor </p>
                </div>
            </div>
        </div>
    </div>

    <!-- associates ended -->
<!-- our team started -->
    <div class="heading-people mt-4">
        <h2>Our Team</h2>
        <hr class="heading-hr">
    </div>
    <div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 justify-content-center ">
        <div  class="mb-4">
        <div class="card bg-light">
            <img src="../../../assets/people/ourteam/1.png" class="card-img-top img-fluid img-thumbnail"
                alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold"> Ar. Santosh Kumar </h5>
                <p class="card-text">Senior Architect</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card bg-light">
            <img src="../../../assets/people/ourteam/2.png" class="card-img-top img-fluid img-thumbnail"
                alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold"> Ar. Seema Rani </h5>
                <p class="card-text">Senior Architect</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card bg-light">
            <img src="../../../assets/people/ourteam/3.png" class="card-img-top img-fluid img-thumbnail"
                alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold"> Ar. Namrata Baghela </h5>
                <p class="card-text">Senior Architect</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card bg-light">
            <img src="../../../assets/people/ourteam/4.png" class="card-img-top img-fluid img-thumbnail"
                alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold"> Ar. Sagar Gupta </h5>
                <p class="card-text">Project Architect</p>
            </div>
        </div>
    </div>


    <div  class="mb-4">
        <div class="card bg-light">
            <img src="../../../assets/people/ourteam/4.png" class="card-img-top img-fluid img-thumbnail"
                alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold"> Ar. Sagar Gupta </h5>
                <p class="card-text">Project Architect</p>
            </div>
        </div>
    </div>

    <div>
        <div class="card bg-light">
            <img src="../../../assets/people/ourteam/4.png" class="card-img-top img-fluid img-thumbnail"
                alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold"> Ar. Sagar Gupta </h5>
                <p class="card-text">Project Architect</p>
            </div>
        </div>
    </div>

    <div>
        <div class="card bg-light">
            <img src="../../../assets/people/ourteam/4.png" class="card-img-top img-fluid img-thumbnail"
                alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold"> Ar. Sagar Gupta </h5>
                <p class="card-text">Project Architect</p>
            </div>
        </div>
    </div>
  
    <div>
        <div class="card bg-light">
            <img src="../../../assets/people/ourteam/4.png" class="card-img-top img-fluid img-thumbnail"
                alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold"> Ar. Sagar Gupta </h5>
                <p class="card-text">Project Architect</p>
            </div>
        </div>
    </div>
   
    <div class="mb-4">
        <div class="card bg-light ">
            <img src="../../../assets/people/ourteam/4.png" class="card-img-top img-fluid img-thumbnail"
                alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold"> Ar. Sagar Gupta </h5>
                <p class="card-text">Project Architect</p>
            </div>
        </div>
    </div>
   

</div>