<app-projects></app-projects>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 gy-4 mt-2 mb-5">
        <div class="">
            <a routerLink="/healthcare" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/1.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title ">healthcare</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/2.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title ">EDUCATIONAL & INSTITUTIONAL </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/3.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title "> GROUP HOUSING & TOWNSHIP </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/4.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title "> TRANSPORTATION </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/5.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title "> COMMERCIAL </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/6.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title "> RESIDENCES </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/7.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title "> MASTER PLANNING </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/8.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title "> INTERIORS </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/9.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title "> LANDSCAPING </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/10.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title "> INDUSTRIAL </h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="">
            <a href="" class="text-decoration-none">
                <div class=" card ">
                    <img src=" ../../../assets/project/11.png" class="card-img-top " alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title "> PROJECT MANAGEMENT </h5>
                    </div>
                </div>
            </a>
        </div>


    </div>

</div>