<div class="container">

    <div class="heading">
        <h1>Awards and News</h1>
        <hr class="heading-hr">
    </div>
    <a routerLink="/awardaugust2023">
        <div class="mt-4">

            <div class=" mb-3">
                <div
                    class=" d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-center">
                    <div class="me-3 ">
                        <img src="../../../assets/awards/1.jpg  " height="300px" class=" " alt="...">
                    </div>

                    <div class="">
                        <h5 class=" heading-awards mb-4">August, 2023 -Foundation Laying Ceremony</h5>
                        <p class="paragraph-awards ">Foundation Laying Ceremony of Medical College at
                            Budni,
                            M.P.,
                            laid by Shri Shivraj Singh Chouhan, Hon’ble Chief Minister of Madhya Pradesh.&nbsp; </p>

                    </div>

                </div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="mt-4">

            <div class=" mb-3">
                <div
                    class=" d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-center">
                    <div class="me-3 ">
                        <img src="../../../assets/awards/2.jpg  " height="300px" class=" " alt="...">
                    </div>

                    <div class="">
                        <h5 class=" heading-awards mb-4">July, 2023- Asian Admirable Achievers Award</h5>
                        <p class="paragraph-awards ">Architect Savita Agarwal&nbsp; has been conferred with Asian
                            Admirable
                            Achievers Award 2023 by Rifacimento International.</p>
                    </div>

                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="mt-4">

            <div class=" mb-3">
                <div
                    class=" d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-center">
                    <div class="me-3 ">
                        <img src="../../../assets/awards/3.jpg  " height="300px" class=" " alt="...">
                    </div>

                    <div class="">
                        <h5 class=" heading-awards mb-4">June, 2023- Article Published in AAYAM Newsletter</h5>
                        <p class="paragraph-awards ">Article by Ar. Savita Agarwal published in AAYAM-Newsletter in the
                            issue “Women in Architecture Profession” IIA-U.P Chapter</p>
                    </div>

                </div>
            </div>



        </div>
    </a>
    <a href="#">
        <div class="mt-4">

            <div class=" mb-3">
                <div
                    class=" d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-center">
                    <div class="me-3 ">
                        <img src="../../../assets/awards/4.jpg  " height="300px" class=" " alt="...">
                    </div>

                    <div class="">
                        <h5 class=" heading-awards mb-4">June, 2023 -National Conclave</h5>
                        <p class="paragraph-awards ">Ar. Savita Agarwal invited as delegate in National Conclave for
                            Future
                            of Architectural Education at&nbsp;India International Centre , New Delhi.</p>
                        <p>
                            SUSHANT UNIVERSITY organised a Conclave in which over 100 delegates from across the country
                            including President and Executive Council members of CoA; Founding Trustee, Chancellor and
                            Vice
                            Chancellor of Sushant University; Former Member Secretary of AICTE; Chairman of IIA Norther
                            Chapter; Deans and Heads of Architecture Institutes; Directors; Research Scholars and
                            Faculty
                            Members came under one roof at the National Conclave on the Future of Architecture Education
                            in
                            India.&nbsp;
                        </p>
                        <p>
                            Burning issues related to the Architects Act 1972, NEP 2020, Interim report on education
                            reforms
                            by CoA 2023, UGC guidelines on curriculum framework, jobs and employability, salaries and
                            remuneration, project consultancy fee, entry-exit-intake dynamics, UG-PG progression, UG and
                            PG
                            degrees, skills and practice etc were critically discussed in an open, transparent,
                            stimulating
                            and constructive manner.
                        </p>
                    </div>

                </div>
            </div>



        </div>
    </a>
    <a href="#">
        <div class="mt-4">

            <div class=" mb-3">
                <div
                    class=" d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-center">
                    <div class="me-3 ">
                        <img src="../../../assets/awards/5.jpg  " height="300px" class=" " alt="...">
                    </div>

                    <div class="">
                        <h5 class=" heading-awards mb-4">May, 2023- St. Joseph school</h5>
                        <p class="paragraph-awards ">Architect Savita Agarwal, Founding Partner, as the guest of honor
                            at
                            St. Joseph school
                    </div>

                </div>
            </div>
        </div>
    </a>
</div>