.heading-hr{
    width: 120px;
    opacity: 1 ;
}
a{
    color:#ab5c3f;
}
.fa-facebook-f , .fa-phone ,.fa-message{
    color:#ab5c3f;
}
.heading-contact{
    font-size: 2rem;
}
.list-group-item{
    color: #ab5c3f;
}
ul li{
    border: none;
}
.form .fa-message, .form .fa-phone{
  font-size: 40px;
}
.btn{
    border: 1px solid#ab5c3f;
    color: #ab5c3f;
    
}
.btn:hover{
    background-color: #ab5c3f;
    color: white;
}
input:focus{
    box-shadow: none;
}